Frontend/public/n8n/seekers-firecrawl-search.json
{
  "name": "Seekers CRM — Firecrawl Search & Extract",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "seekers-firecrawl",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Receive Firecrawl Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300],
      "webhookId": "seekers-firecrawl",
      "notes": "Receives { source: 'firecrawl', query, max_results, include_domains, exclude_domains, language } from the CRM's Scrape Leads dialog. If you already have the main /webhook/3f8ea5dc-... scrape router, you can either: (A) wire its Switch node to route source=='firecrawl' here, OR (B) point the CRM dialog directly at THIS workflow's webhook URL by editing SCRAPE_WEBHOOK_URL in Frontend/src/components/modules/ScrapeLeadsDialog.tsx."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v2/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.body.query }}\",\n  \"limit\": {{ $json.body.max_results || 10 }},\n  \"sources\": [\"web\"],\n  \"includeDomains\": {{ JSON.stringify($json.body.include_domains || []) }},\n  \"excludeDomains\": {{ JSON.stringify($json.body.exclude_domains || []) }},\n  \"scrapeOptions\": { \"formats\": [\"markdown\", \"links\"] }\n}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "Firecrawl /search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [420, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "firecrawl-api-key",
          "name": "Firecrawl API Key"
        }
      },
      "notes": "Calls Firecrawl /search to discover relevant company pages. Returns up to N results with full page markdown so we can extract. Costs 2 credits per 10 results."
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.web",
        "options": { "includeBinary": false }
      },
      "name": "Split Each Result URL",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [640, 300],
      "notes": "Each search result becomes its own n8n item. The Extract node below runs once per URL."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v2/extract",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"urls\": [\"{{ $json.url }}\"],\n  \"prompt\": \"Extract the primary contact and company info from this page. If it's a directory listing of multiple companies, return the FIRST company only — we'll call you again for the others. Use empty string for any field you can't confidently fill. Always try to capture at least ONE contactable channel (email, phone, or a social profile URL) — leads with only social/phone are still useful, we reach out to them manually.\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"company\":   { \"type\": \"string\", \"description\": \"Business / organization name\" },\n      \"name\":      { \"type\": \"string\", \"description\": \"Primary contact person name; empty string if no person is listed (don't invent one)\" },\n      \"email\":     { \"type\": \"string\", \"description\": \"Best public contact email; empty string if none\" },\n      \"phone\":     { \"type\": \"string\", \"description\": \"Phone in international format if shown; empty string if none\" },\n      \"website\":   { \"type\": \"string\", \"description\": \"Official website URL; empty string if not the source page\" },\n      \"facebook\":  { \"type\": \"string\", \"description\": \"Facebook page URL; empty string if none\" },\n      \"instagram\": { \"type\": \"string\", \"description\": \"Instagram URL; empty string if none\" },\n      \"linkedin\":  { \"type\": \"string\", \"description\": \"LinkedIn company / profile URL; empty string if none\" },\n      \"category\":  { \"type\": \"string\", \"description\": \"Industry / niche this company operates in (keep under 100 chars; pick ONE primary niche, don't list multiple)\" },\n      \"location\":  { \"type\": \"string\", \"description\": \"City + country if shown\" },\n      \"summary\":   { \"type\": \"string\", \"description\": \"One-line summary of what this company does\" }\n    },\n    \"required\": [\"company\"]\n  }\n}",
        "options": { "timeout": 90000 }
      },
      "name": "Firecrawl /extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [860, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "firecrawl-api-key",
          "name": "Firecrawl API Key"
        }
      },
      "notes": "LLM-powered structured extraction per URL. Costs ~1 credit per page (sometimes more if Firecrawl needs to crawl sub-pages to fulfill the schema). On free tier (1k credits/mo), 10-result search → ~$0.10 worth of credits used."
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "name",     "value": "={{ ($json.data && ($json.data.name || $json.data.company)) || '' }}" },
            { "name": "company",  "value": "={{ ($json.data && ($json.data.company || $json.data.name)) || '' }}" },
            { "name": "email",    "value": "={{ ($json.data && $json.data.email) || '' }}" },
            { "name": "phone",    "value": "={{ ($json.data && $json.data.phone) || '' }}" },
            { "name": "category", "value": "={{ ($json.data && ($json.data.category || '').slice(0, 100)) || '' }}" },
            { "name": "source",   "value": "firecrawl" },
            { "name": "notes",    "value": "=Firecrawl extract:\\n• Location: {{ ($json.data && $json.data.location) || '—' }}\\n• Summary: {{ ($json.data && $json.data.summary) || '—' }}\\n• Website: {{ ($json.data && $json.data.website) || '—' }}\\n• Facebook: {{ ($json.data && $json.data.facebook) || '—' }}\\n• Instagram: {{ ($json.data && $json.data.instagram) || '—' }}\\n• LinkedIn: {{ ($json.data && $json.data.linkedin) || '—' }}\\n• Source URL: {{ $json.url || '—' }}\\n\\nChannels available:\\n• Email: {{ ($json.data && $json.data.email) ? 'YES' : 'no' }}\\n• Phone: {{ ($json.data && $json.data.phone) ? 'YES' : 'no' }}\\n• Social: {{ ($json.data && ($json.data.facebook || $json.data.instagram || $json.data.linkedin)) ? 'YES' : 'no' }}" }
          ]
        },
        "options": { "dotNotation": false }
      },
      "name": "Map to Lead Schema",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "typeValidation": "loose" },
          "conditions": [
            {
              "id": "has-any-contactable-field",
              "leftValue": "={{ !!($json.company || $json.name || $json.email || $json.phone) }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Has Any Contact?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, 300],
      "notes": "Permissive gate — pass any row that has AT LEAST ONE of company/name/email/phone. Backend fills missing name/company by falling back to each other. Phone-only and social-only leads still come through so the team can reach out manually; the sequence-enrollment picker then filters down to email-eligible leads at send time."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SEEKERS_API_BASE }}/outreach/leads/ingest",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "response": { "response": { "neverError": true } }
        }
      },
      "name": "Ingest into Seekers CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1520, 240],
      "credentials": {
        "httpHeaderAuth": {
          "id": "seekers-crm-api-key",
          "name": "Seekers CRM API Key"
        }
      },
      "notes": "Hits /outreach/leads/ingest. Idempotent by email — if Firecrawl returns a company you already have, the existing lead is patched, not duplicated."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, message: 'Firecrawl search dispatched. Results will arrive over the next 1-3 min.' } }}"
      },
      "name": "Respond OK to CRM",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [640, 480],
      "notes": "Responds immediately to the CRM's dialog so the user gets a fast toast. The actual extraction + ingestion runs in the background per item."
    }
  ],
  "connections": {
    "Receive Firecrawl Request": {
      "main": [
        [
          { "node": "Firecrawl /search", "type": "main", "index": 0 },
          { "node": "Respond OK to CRM", "type": "main", "index": 0 }
        ]
      ]
    },
    "Firecrawl /search":   { "main": [[{ "node": "Split Each Result URL", "type": "main", "index": 0 }]] },
    "Split Each Result URL": { "main": [[{ "node": "Firecrawl /extract", "type": "main", "index": 0 }]] },
    "Firecrawl /extract":  { "main": [[{ "node": "Map to Lead Schema", "type": "main", "index": 0 }]] },
    "Map to Lead Schema":  { "main": [[{ "node": "Has Any Contact?", "type": "main", "index": 0 }]] },
    "Has Any Contact?": { "main": [
      [{ "node": "Ingest into Seekers CRM", "type": "main", "index": 0 }],
      []
    ]}
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "seekers-firecrawl-v1",
  "id": "seekers-firecrawl-search",
  "tags": [{ "name": "Seekers" }, { "name": "Firecrawl" }, { "name": "Lead Scraping" }]
}
